.subjectLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.subjectLink{
    display: block;
    font-size: 2.5em;
    text-align: center;
    max-width: 50%;
    margin: 1em auto;
    padding: 0.3em 0.5em;
    transition: all linear 0.5s;
    background-color: #3a3a3a;
    border: 6px solid #CBC3E3;
    color: white;
    border-radius: 1em;
}
.subjectLink:hover{
    background-color: #1F2021;

}
#jazyky{

    border: 5px solid #fce847;
}
#biologie{

    border: 6px solid #82ff03;
}
#dejepis{

    border: 6px solid #7a5023;
}
#fyzika{

    border: 6px solid #5c3dff;
}
#chemie{

    border: 6px solid #af1300;
}
#ivt{

    border: 6px solid #5a6464;
}
#matematika{

    border: 6px solid #2493f8;
}
#zsv{

    border: 6px solid #d58940;
}
#zemepis{

    border: 6px solid #007e3f;
}